body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 70px;
}
.hero{
    width: 100%;
    height: 550px;
    background-image: url(../imagens/topo.jpg);
    background-size: cover;
    background-position: center left;
    border-top: 1px solid transparent;
}

.hero nav{
    background-color: rgb(9, 10, 20);
    overflow: auto;
}
.hero nav img{
    float: left;
    padding: 10px 0 0 200px;
}

.hero nav ul{
    float: right;
    text-align: right;
}

.hero nav a{
    text-decoration: none;
    color: rgba(185, 185, 185, 0.555);
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 12px;
}

.hero nav a:hover{
    color: rgba(185, 185, 185, 1);
}

.hero nav li{
    display: inline-block;
    list-style: none;
    margin-right: 40px;
}

.article{
    padding-top: 50px;
    margin: 0 130px 0 130px;
}

.article h1{
    text-align: center;
}

.article p{
    text-align: center;
    line-height: 30px;
}

.gallery{
    padding-top: 50px;
    overflow: auto;
    padding-left: 130px;
}

.card{
    width: 33%;
    float: left;
    box-sizing: border-box;
}

.card h1{
    padding-left: 50px;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: rgba(0, 0, 0, 0.849);
}

.card p{
    padding-left: 50px;
}

.about-us{
    padding: 50px;
    height: 450px;
    color: white;
    background-image: url(../imagens/bg_detalhe.png);
    background-position: center right;
    background-size: contain;
    background-repeat: initial;
}

.about-us h1{
    font-size: 60px;
    text-transform: uppercase;
}

.about-us p{
    text-align: left;
    font-size: 20px;
    margin-right: 500px;
}

.contact{
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(0, 0, 41);
}

.footer{
    background-color: black;
    color: rgb(65, 163, 255);
    height: 70px;
    font-size: 20px;
    text-align: center;
    line-height: 70px;
    letter-spacing: 3px;
}